services:
  frontend:
    image: ecobin-frontend:latest
    container_name: ecobin-frontend
    ports:
      - "5001:80"          # nginx inside container listens on 80
    depends_on:
      - backend

  backend:
    image: ecobin-backend:latest
    container_name: ecobin-backend
    ports:
      - "5002:5000" 
    environment:
    
    
      MONGO_URL: mongodb://host.docker.internal:27017/ecobin
      
      
      MINIO_ENDPOINT: host.docker.internal
      MINIO_PORT: 9000


      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin123}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY:-minioadmin}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY:-minioadmin123}

